body {
    background-color: #367CFF;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 80vw;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-text {
    width: 80%;
    margin-bottom: 0px;
    transition: width 0.3s ease;
}